*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
}

.container{
    background-color: blue;
    /* height: 500px; */
    height: 100vh;
    border: 3px solid orange;

    display: grid;
    
    grid-template-columns: 150px 1fr 1fr 150px;
    grid-template-rows: 50px 1fr 50px;

    gap: 10px;
    
}

.box{
    background-color: bisque;
    border: 3px solid black;
}

#box1, #box5{
    grid-column-start: 1;
    grid-column-end: 5;
}

#box3{
    grid-column-start: 2;
    grid-column-end: 4;
}